<footer class="text-center text-lg-start text-white mt-5 fixed-bottom w-100 flex-shrink-0 bg-dark">
<div class="float-end p-3" style="">
    v<%= version %>
</div>
</footer>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
